@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or your custom CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* video_container custom css file */
  .video_container{
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }